<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567961484785-mod4i5o8jpp3crbl0slkt6h79e6sdpbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567961484785-mod4i5o8jpp3crbl0slkt6h79e6sdpbt</string>
	<key>API_KEY</key>
	<string>AIzaSyDkuXddOFLdbhMF7X2Lm6kqdSkL95lrj4k</string>
	<key>GCM_SENDER_ID</key>
	<string>567961484785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.suplo.tingtong</string>
	<key>PROJECT_ID</key>
	<string>tingtong-cityland</string>
	<key>STORAGE_BUCKET</key>
	<string>tingtong-cityland.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567961484785:ios:90e0d4e194e6ce9740d850</string>
</dict>
</plist>